@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}



header {
    width: 100%;
    height: auto;
    padding: 5rem 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, rgb(5, 5, 10) 0%, rgb(5, 5, 10) 7.692%, rgb(9, 10, 14) 7.692%, rgb(9, 10, 14) 15.385%, rgb(13, 14, 18) 15.385%, rgb(13, 14, 18) 23.077%, rgb(18, 19, 22) 23.077%, rgb(18, 19, 22) 30.769%, rgb(22, 23, 26) 30.769% 30.769%, rgb(22, 23, 26) 38.462%, rgb(26, 27, 30) 38.462%, rgb(26, 27, 30) 46.154%, rgb(30, 31, 34) 46.154%, rgb(30, 31, 34) 53.846%, rgb(34, 35, 38) 53.846%, rgb(34, 35, 38) 61.538%, rgb(38, 39, 42) 61.538%, rgb(38, 39, 42) 69.231%, rgb(41, 42, 45) 69.231%, rgb(41, 42, 45) 76.923%, rgb(44, 45, 48) 76.923%, rgb(44, 45, 48) 84.615%, rgb(46, 47, 51) 84.615%, rgb(46, 47, 51) 92.308%, rgb(48, 49, 53) 92.308%, rgb(48, 49, 53) 100%);

}

.navigation {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    font-size: 3rem;
    font-weight: 800;
    text-align: left;
    background: linear-gradient(to right, #bdc3c7 0%, #2c3e50 51%, #bdc3c7 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.hide {
    display: none;
}

.nav i {
    font-size: 3rem;
    font-weight: 800;
    text-align: left;
    background: linear-gradient(to right, #bdc3c7 0%, #2c3e50 51%,
            #bdc3c7 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.nav {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px #eee;
    border-radius: 50px;
    transition: 0.5s;
    color: white;
    background: linear-gradient(to right, #bdc3c7 0%, #2c3e50 51%, #bdc3c7 100%);
}

.nav a {
    color: #fff;
    padding: 1.1rem 2.5rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 800;
    text-align: right;
    transition: 0.5s;

}

nav a.active {
    /* color: #2c3e50; */
    color: #2c3e50;
    background-color: #bdc3c7a8;
    border-radius: 50px;
    padding: 1rem 2.5rem;
}

.nav {
    padding: 1rem 0;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    display: block;
}

.nav:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

/* main hero section */
.main-body {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem 0 0;
    gap: 2rem;

}

.body-title {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.body-title h1 {
    color: #bdc3c9;
    font-size: 4rem;
    font-weight: 900;
    text-align: left;
}

.body-title h1 span {
    position: relative;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: .1rem #fff;
    animation: display-text 16s linear infinite;
    animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {

    25%,
    100% {
        display: none;
    }

}

.body-title h1 span::before {
    content: attr(data-text);
    position: absolute;
    width: 0;
    border-right: .2rem solid #fff;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    animation: fill-text 4s linear infinite;
}

@keyframes fill-text {

    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }

}

.body-title p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    margin-bottom: 1rem;
}

.shape-text {
    font-family: "Great Vibes", cursive;
    padding: 1rem;
    font-size: 5rem;
    font-style: italic;
    font-weight: 500;
    color: #e1e3eb;

    margin: 0 .4rem;
}

.buttons {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.btn-grad {
    background: linear-gradient(to right, #bdc3c7 0%, #2c3e50 51%, #bdc3c7 100%);
}

.btn-grad {
    font-size: 1rem;
    font-weight: 600;
    margin: .6rem;
    padding: 1rem 2.5rem;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: #e1e3eb;
    box-shadow: 0 0 20px #eee;
    border-radius: 50px;
    display: block;
    border: none;
    cursor: pointer;
}

.btn-grad:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-img {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    position: relative;

}

.hero-img img {
    width: 100%;
    height: 100%;
}

.sub-title {
    width: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 55%;
    left: -15%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

}

.sub-title2 {
    position: absolute;
    width: 50%;
    top: 22%;
    right: -14%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}

.sub-title2 .span {
    border-radius: 8px;
}

.span {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #35363a7e;

    padding: 1rem .5rem;

}

.span h5 {
    color: #e3e8ec;
    font-size: 2rem;
    font-weight: 900;
    align-items: center;
}


.span i {
    margin-right: 1rem;

    color: #8b0202;
    font-size: 1.5rem;

}

.span p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 500;


}

.sub-title video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 8px 8px 0 0;

}

/* start habits section */
.habits {
    width: 100%;
    padding: 5rem 10%;
    display: grid;
    grid-template-rows: auto 1fr;
    background: linear-gradient(180deg,
            rgba(13, 12, 12, 1) 0%,
            rgba(96, 96, 102, 0.99) 46%,
            rgba(96, 96, 102, 0.98) 40%,
            rgba(13, 12, 12, 1) 100%);
}

.habit-title {
    text-align: center;
}

.habit-title h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 2.8rem;
    font-weight: 900;
}

.habit-title p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 1.4rem;
    letter-spacing: 0.3px;
    padding: 1rem;
}

.habit-info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.habit-need img {

    object-fit: cover;
    border-radius: 50%;
    animation: shadowColor 3s infinite linear;
}

@keyframes shadowColor {
    0% {
        box-shadow: 0 0 15px red;
    }

    25% {
        box-shadow: 0 0 15px orange;
    }

    50% {
        box-shadow: 0 0 15px lime;
    }

    75% {
        box-shadow: 0 0 15px cyan;
    }

    100% {
        box-shadow: 0 0 15px red;
    }
}

.habit-need {
    text-align: center;
}

.habit-need h3 {
    color: rgba(255, 255, 255, 1);
    font-size: 1.5rem;
    font-weight: 400;
    padding: 1rem 0 0.5rem;
}

.habit-need p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.1rem;
}

/* start running habit section */
.hero-run {
    width: 100%;
    height: auto;
    padding: 5rem 10%;
    background: linear-gradient(180deg,
            rgba(13, 12, 12, 1) 0%,
            rgba(96, 96, 102, 0.99) 46%,
            rgba(96, 96, 102, 0.98) 40%,
            rgba(13, 12, 12, 1) 100%);
}

.hero-video video {
    border-radius: 8px;
}

.hero-video {
    padding: 2rem;
    overflow: hidden;


}

.hero-body {
    border-radius: 8px;
    padding: 2rem;
    background-color: rgba(7, 7, 7, 0.4);

}

/* training section */
.training {
    width: 100%;
    height: auto;
    padding: 5rem 10%;
    background: linear-gradient(180deg,
            rgba(13, 12, 12, 1) 0%,
            rgba(96, 96, 102, 0.99) 46%,
            rgba(96, 96, 102, 0.98) 40%,
            rgba(13, 12, 12, 1) 100%);

}

.training-info {
    padding: 1rem;
    width: 60%;
}

.training-info h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
    padding: .5rem;

}

.training-info p {
    color: rgba(255, 255, 255, 0.5);
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    text-align: left;
}

.training-video {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.video1 {

    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.video2 {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr;
}

.grid1 {
    display: none;

}

.video {
    width: 100%;
    position: relative;
}

.after {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(6, 255, 210, 0.5);
    width: 100%;
    height: 100%;
    z-index: 02;
}

.video1 .video:nth-child(1) {
    color: rgb(245, 245, 245); 
    

    font-size: 1.5rem;
    font-weight: 500;
    line-height: 100%;
}

.video video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    position: relative;
}